.caption-block {
    display: inline-block;
}

.caption-header {
    left: 70%;
    position: relative;
}

@media (min-width: 768px) and (max-width: 992px) {
    .spacer {
        display: inline-block;
    }
}
